@page { size:50.0cm 20.0cm; }

@font-face
{
font-family: capture;
src: url('../fonts/captureIt.tff');
}

div, table, textarea{
width: 100%;
}

td{
border:1px solid #000;
}

.label{
font-weight: bold;
font-family: capture;   
}

#classification{
text-align: center;
font-weight: bold;
}